.sidebar-icon-left {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin-right: 8px;
}
.sidebar-text-center {
    font-size: 13px;
    cursor: pointer;
}
.sidebar-icon-right {
    float: right;
    padding-top: 4px;
    font-size: 15px;
}
.item-submenu {
    padding: 5px;
}
.section-header .box-left {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    -ms-align-items: center;
}
.h-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--titlecolor);
    margin-bottom: 0;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.sh-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-left: 21px;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.section-header .sh-title:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 85%;
    background: #97999D;
}

.pro-name {
    font-weight: 600;
    margin: 0 0 15px 10px;
    font-size: 14px;
}

.pro-img {
    width: 250px;
    margin: 0 30px 22px 0;
    border-radius: 10px;
    /*border: #ff212b solid 2px;*/
}

.body-content {
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
}

.pro-price {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

.page-title {
    font-size: 16px !important;
}

.number-rating {
    color: #FF8A00;
    font-weight: 600;
}
.pro-rating {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.count-rating {
    color: #6D6E72;
    font-weight: 400;
}

.icon-rating {
    color: #FF8A00;
    padding: 0 2px;
    font-size: 10px;
}

.sort-select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.pic-frame {
    width: 372px;
}

.pro-top .number-rating, .pro-top .count-rating {
    font-size: 16px;
}

.pro-top .icon-rating {
    font-size: 18px;
    padding: 0 8px;
}

.product-price span.pro-price {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #E30019;
}

.font-14 {
    font-size: 14px;
}
.product-info {
    padding: 0 24px;
}
.product-img {
    max-width: calc(33% - 32px);
    margin: 15px;
}

.font-18 {
    font-size: 18px;
}